<div class="container">
     <div class="row justify-content-center">
        <div class="jumbotron col-md-8">
            <h1 class="display-4 title" data-id={{articles._id}}>{{ articles.title }}</h1>
            <p class="lead">{{ articles.summary }}</p>
            <hr class="my-4">
            <a href={{articles.link}}>{{articles.link}}</a>
        </div>
    </div>
<div class="card">
<form>
  <div class="form-group">
    <label for="title">title</label>
    <input type="text" class="form-control" id="title" placeholder="give 'em a good opener">
  </div>
  <div class="form-group">
    <label for="body">comment</label>
    <input type="text" class="form-control" id="body" placeholder="what are you thinking?">
  </div>
  <a class="btn btn-primary btn-lg" id="submitbtn" role="submit">SUBMIT</a>
</form>
</div>
<div class="row justify-content-center">
    <div class="col-md-10">
        {{#if articles.comment}}
            {{#each articles.comment}}
            <div class="card comment" data-id={{this._id}}>
                <div class="card-body">
                    <h4 class="card-title">{{this.title}}</h4>
                    <p class="card-subtitle">{{this.body}}</p>
                    <a class="btn btn-primary btn-lg" id="delete" role="delete">delete comment</a>
                </div>
            </div>
            {{/each}}
        {{else}}
         <div class="card">
            <div class="card-body">
            <h4>No one has commented on this yet.</h4>
            </div>
         </div>
        {{/if}}

    </div>
    </div>
</div>